.MuiTableSortLabel-root.MuiTableSortLabel-active.MuiTableSortLabel-root.MuiTableSortLabel-active {
  .MuiTableSortLabel-icon {
    color: white !important;
  }

  color: white !important;
}
.MuiTableSortLabel-root:hover {
  color: white !important;
}
.MuiTableSortLabel-root {
  color: white !important;
}
.MuiTableCell-head {
  color: white !important;
}
#filter-form-all .dropdown-menu {
  width: unset !important;
}
