@media print {
  html,
  body {
    width: 110mm;
    height: 297mm;
    display: block;
    background: #fff !important;
    font-family: Arial, Helvetica, sans-serif;
  }

  @page {
    size: 110mm 297mm;
  }
  #receipt {
    width: 110mm;
    font-size: 20pt;
    page-break-inside: avoid;
  }
}
#receipt {
  width: 110mm;
  font-size: 20pt;
  page-break-inside: avoid;
}
