.pointer {
  cursor: pointer;
}

.daterangepicker .calendar-table th,
.daterangepicker .calendar-table td {
  font-size: 10px !important;
}
.daterangepicker .drp-calendar {
  max-width: 340px !important;
}

.select2-container--default .select2-selection--multiple {
  border: 1px solid #e4e6ef !important;
}

.select2-container--default
  .select2-selection--multiple
  .select2-selection__rendered {
  color: white !important;
}

.select2-container--default
  .select2-selection--multiple
  .select2-selection__choice {
  background-color: #187de4 !important;
  border: 1px solid #187de4 !important;
}

.select2-container--default
  .select2-selection--multiple
  .select2-selection__choice__remove {
  color: inherit !important;
}

.select2-container--default .select2-results__option[aria-selected="true"] {
  background-color: #187de4 !important;
  color: white !important;
}

.select2-container .select2-selection--multiple {
  min-height: 39px !important;
}

.select2-container--default .select2-selection--multiple {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.select2-container--open .select2-dropdown--above {
  z-index: 1 !important;
}

.select2-container {
  width: 200.325px !important;
}

@page {
  size: A4 portrait;
}

.react-component {
  width: calc(100% - 10%);
  max-width: 1110px;
  margin-top: calc(var(--component-height) / -2);
  margin-bottom: 4em;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  font-size: 19px;
  overflow: hidden;
}

.react-component > * {
  box-shadow: 0 30px 40px 0 rgb(16 36 94 / 20%);
}

.react-pdf__Document {
  border-radius: 8px;
  max-width: 100%;
  position: relative;
  background-color: white;
}

.react-pdf__Page {
  max-width: 700px;
  width: 90vw;
}

.react-pdf__Page__svg {
  width: auto !important;
  height: auto !important;
  border-radius: 8px;
}

.react-pdf__Page__svg svg {
  border-radius: 8px;
  max-width: 700px;
  width: 90vw;
  height: auto;
  display: block;
  background-color: white;
}

.page-controls {
  position: absolute;
  bottom: 5%;
  left: 50%;
  background: white;
  opacity: 0.5;
  transform: translateX(-50%);
  transition: opacity ease-in-out 0.2s;
  box-shadow: 0 30px 40px 0 rgb(16 36 94 / 20%);
  border-radius: 4px;
}

.page-controls:hover {
  opacity: 1;
}

.page-controls button:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.page-controls button {
  width: 44px;
  height: 44px;
  background: white;
  border: 0;
  font: inherit;
  font-size: 0.8em;
  border-radius: 4px;
}

.page-controls span {
  font: inherit;
  font-size: 0.8em;
  padding: 0 0.5em;
}

.page-controls button:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
#NumberFormat-text {
  background-color: #f3f6f9;
}

label.checkboxs-false,
label.checkboxs-true,
label.checkboxs-minus,
label.checkboxs {
  margin-left: -10px;
}

.row.mt-2 .col-sm-4 label.checkboxs-false,
.row.mt-2 .col-sm-4 label.checkboxs-true,
.row.mt-2 .col-sm-4 label.checkboxs-minus,
.row.mt-2 .col-sm-4 label.checkboxs {
  margin-left: 5px;
}

label.checkboxs-true input[type="checkbox"],
label.checkboxs-false input[type="checkbox"],
label.checkboxs-minus input[type="checkbox"],
label.checkboxs input[type="checkbox"] {
  display: none;
}
label.checkboxs-true span,
label.checkboxs-false span,
label.checkboxs-minus span,
label.checkboxs span {
  display: inline-block;
  border: 1.5px solid #bbb;
  border-radius: 2px;
  width: 13px;
  height: 13px;
  background: white;
  vertical-align: middle;
  margin: 2px;
  position: relative;
  transition: width 0.1s, height 0.1s, margin 0.1s;
}
label.checkboxs-true :checked + span {
  background: #0000ffb8;
  border: 1.5px solid #0000ffb8 !important;
  margin: 2px;
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
}
label.checkboxs-true :checked + span:after {
  content: "\2714";
  font-size: 12px;
  position: absolute;
  top: -4px;
  left: 1px;
  color: white;
}
label.checkboxs-false :checked + span {
  background: red;
  border: 1.5px solid red !important;
  margin: 2px;
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
}
label.checkboxs-false :checked + span:after {
  content: "\1F5D9";
  font-size: 12px;
  position: absolute;
  top: -5px;
  left: -1px;
  color: white;
}
label.checkboxs :checked + span {
  background: white;
  margin: 2px;
}
label.checkboxs-minus :checked + span {
  background: white;
  border: 1.5px solid #bbb !important;
  margin: 2px;
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
}
label.checkboxs-minus :checked + span:after {
  content: "\2212";
  font-size: 22px;
  position: absolute;
  top: -11px;
  left: -1px;
  color: #bbb;
}

.pointer.hover:hover {
  background-color: #e1e1e1;
}

.toolbar-custom {
  opacity: 1 !important;
  animation: animation-scrolltop 0.4s ease-out 1;
  display: block !important;
  bottom: 60px !important;
  right: 0px !important;
  width: 80px !important;
  height: 200px;
  background-color: unset !important;
  box-shadow: unset !important;
}
